.right-header {
  position: relative;
  z-index: 3;
}

nav {
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  align-items: center;
  z-index: 300;
  position: fixed;
  top: 0;
  width: 100%;
}

#write-tweet {
  display: flex;
  justify-content: flex-end;
  font-family: 'Source Sans Pro', sans-serif;
  padding-left: 22.1em;
  padding-bottom: 5px;
}

#logo {
  font-size: 37px;
}

b, strong {
  font-weight: bolder;
  padding-right: 6px;
}

.header {
  height: 14px;
}

.double-arrow {
  color: red;
  top: 8px;
  left: 611px;

  position: relative;
  animation: bounce 1s 0.6s ease-in-out infinite;
}

/* animation */

@keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -6px;
  }
  100% {
    top: 0;
  }
}