nav {
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  align-items: center;
}

#write-tweet {
  display: flex;
  justify-content: flex-end;
  font-family: 'Source Sans Pro', sans-serif;
  padding-left: 24.7em;
}

b, strong {
  font-weight: bolder;
  padding-right: 6px;
}

.header {
  height: 14px;
}

.double-arrow {
  color: red;
  position: relative;
  top: 8px;
  left: 678px;
}