/* mobile view */

@media screen and (max-width: 539.99px) {
  .submission {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 35px;
    position: relative;
    left: 27px;
  }

  #tweet-text {
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid black;
    box-shadow: 0 1px 0 0 black;
    margin-bottom: 8px;
    font-size: 23px;
    font-weight: bolder;
    overflow: visible;
  }

  .submit-button {
    background-color: #4056a1;
    font-family: "Bungee", cursive;
    color: #ffffff;
  }

  .counter {
    display: flex;
    justify-content: flex-end;
    font-family: "Bungee", cursive;
    position: relative;
    top: -38px;
  }

  .tweet-border:hover {
    box-shadow: 5px 5px 2px 1px hsl(223, 55%, 72%, 0.7);
  }

  .tweet-border {
    height: 156px;
    border: solid 2.5px;
    position: relative;
    left: 27px;
    padding: 10px;
    margin-bottom: 30px;
  }

  .tweet-message {
    background-color: transparent;
    border-bottom: 1px solid black;
    box-shadow: 0 1px 0 0 black;
    margin-bottom: 26px;
    padding-bottom: 9px;
    font-size: 18px;
    position: relative;
    top: -50px;
    word-wrap: break-word;
    margin-top: 0px;
  }

  .handle {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    color: silver;
    position: relative;
    bottom: 66px;
    margin-bottom: 6px;
  }

  .avatar {
    height: 33px;
    display: inline;
    justify-content: flex-start;
    padding-right: 10px;
    position: relative;
    top: 7px;
  }

  .user {
    margin-top: 0px;
    position: relative;
    bottom: 8px;
    font-weight: 300;
  }

  footer {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 71px;
    font-size: 9px;
  }

  .fa-retweet:hover,
  .fa-heart:hover,
  .fa-flag:hover {
    color: rgb(191, 140, 45);
  }

  .fa-retweet {
    padding-left: 4px;
  }

  .fa-heart {
    padding-right: 9px;
    padding-left: 4px;
  }

  .time {
    position: relative;
    right: 355px;
    bottom: 10px;
  }

  .warning {
    color: red;
  }

  #empty-error,
  #too-long-error {
    background-color: rgb(237 186 186);
    color: red;
    font-size: 22px;
    display: flex;
    justify-content: space-around;
    border: 1px solid red;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 37px;
    position: relative;
    left: 27px;
  }
}

/* tablet view */

@media screen and (min-width: 540px) {
  .submission {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 35px;
    position: relative;
    left: 27px;
  }

  #tweet-text {
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid black;
    box-shadow: 0 1px 0 0 black;
    margin-bottom: 8px;
    font-size: 23px;
    font-weight: bolder;
    overflow: visible;
  }

  .submit-button {
    background-color: #4056a1;
    font-family: "Bungee", cursive;
    color: #ffffff;
  }

  .counter {
    display: flex;
    justify-content: flex-end;
    font-family: "Bungee", cursive;
    position: relative;
    top: -38px;
  }

  .tweet-border:hover {
    box-shadow: 5px 5px 2px 1px hsl(223, 55%, 72%, 0.7);
  }

  .tweet-border {
    height: 156px;
    border: solid 2.5px;
    position: relative;
    left: 27px;
    padding: 10px;
    margin-bottom: 30px;
  }

  .tweet-message {
    background-color: transparent;
    border-bottom: 1px solid black;
    box-shadow: 0 1px 0 0 black;
    margin-bottom: 26px;
    padding-bottom: 9px;
    font-size: 18px;
    position: relative;
    top: -50px;
    word-wrap: break-word;
    margin-top: 0px;
  }

  .handle {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    color: silver;
    position: relative;
    bottom: 66px;
    margin-bottom: 6px;
  }

  .avatar {
    height: 33px;
    display: inline;
    justify-content: flex-start;
    padding-right: 10px;
    position: relative;
    top: 7px;
  }

  .user {
    margin-top: 0px;
    position: relative;
    bottom: 8px;
    font-weight: 300;
  }

  footer {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 71px;
    font-size: 9px;
  }

  .fa-retweet:hover,
  .fa-heart:hover,
  .fa-flag:hover {
    color: rgb(191, 140, 45);
  }

  .fa-retweet {
    padding-left: 4px;
  }

  .fa-heart {
    padding-right: 9px;
    padding-left: 4px;
  }

  .time {
    position: relative;
    right: 538px;
    bottom: 10px;
  }

  .warning {
    color: red;
  }

  #empty-error,
  #too-long-error {
    background-color: rgb(237 186 186);
    color: red;
    font-size: 22px;
    display: flex;
    justify-content: space-around;
    border: 1px solid red;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 37px;
    position: relative;
    left: 27px;
  }
}

/* desktop view */

@media screen and (min-width: 769px) {
  .submission {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 35px;
    position: relative;
    left: 183px;
    bottom: 325px;
    width: 90%;
  }

  #tweet-text {
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid black;
    box-shadow: 0 1px 0 0 black;
    margin-bottom: 8px;
    font-size: 23px;
    font-weight: bolder;
    overflow: visible;
    position: relative;
    right: 66px;
  }

  .submit-button {
    background-color: #4056a1;
    font-family: "Bungee", cursive;
    color: #ffffff;
    position: relative;
    right: 66px;
  }

  .counter {
    display: flex;
    justify-content: flex-end;
    font-family: "Bungee", cursive;
    position: relative;
    top: -38px;
    right: 66px;
  }

  .tweet-border:hover {
    box-shadow: 5px 5px 2px 1px hsl(223, 55%, 72%, 0.7);
  }

  .tweet-border {
    height: 156px;
    border: solid 2.5px;
    position: relative;
    left: 27px;
    padding: 10px;
    margin-bottom: 30px;
  }

  .tweet-message {
    background-color: transparent;
    border-bottom: 1px solid black;
    box-shadow: 0 1px 0 0 black;
    margin-bottom: 26px;
    padding-bottom: 9px;
    font-size: 18px;
    position: relative;
    top: -50px;
    word-wrap: break-word;
    margin-top: 0px;
  }

  .handle {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    color: silver;
    position: relative;
    bottom: 66px;
    margin-bottom: 6px;
  }

  .avatar {
    height: 33px;
    display: inline;
    justify-content: flex-start;
    padding-right: 10px;
    position: relative;
    top: 7px;
  }

  .user {
    margin-top: 0px;
    position: relative;
    bottom: 8px;
    font-weight: 300;
  }

  footer {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 71px;
    font-size: 9px;
  }

  .fa-retweet:hover,
  .fa-heart:hover,
  .fa-flag:hover {
    color: rgb(191, 140, 45);
  }

  .fa-retweet {
    padding-left: 4px;
  }

  .fa-heart {
    padding-right: 9px;
    padding-left: 4px;
  }

  .time {
    position: relative;
    right: 346px;
    bottom: 10px;
  }

  .warning {
    color: red;
  }

  #empty-error,
  #too-long-error {
    background-color: rgb(237 186 186);
    color: red;
    font-size: 22px;
    display: flex;
    justify-content: space-around;
    border: 1px solid red;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 37px;
    position: relative;
    left: 27px;
  }
}